*{
    user-select: none;
}
body{
    margin: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
img{
    display: none;
}
h1{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 25px;
    font-family: "pixel";
}
#mainMenu{
    width: 1500px;
    height: 1000px;
    background: url(../img/mainBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#game{
    display: none;
}
button{
    width: 300px;
    height: 100px;
    font-size: 30px;
    font-family: "pixel";
}
#play{
    margin-right: 50px;
}
#leave{
    margin-left: 50px;
    transition: 0.7s;
}
@font-face {
    font-family: "pixel";
    src: url(../font/ARCADECLASSIC.TTF);
}
#music{
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.heart{
    display: block;
}
#hp{
    display: flex;
    flex: 9;
}
#score{
    color: white;
    font-size: 25px;
    font-family: "pixel";
}
#obal{
    display: flex;
}
#achievement{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background: url("../img/achievement2.png");
    background-size: cover;
}
#achimenu{
    display: none;
    width: 1500px;
    height: 1000px;
    position: absolute;
    background-color: yellowgreen;
    top: 7%;
}
.trophys{
    display: none;
    margin-left: 50%;
}
.trophys:last-child{
    display: block;
}
.ending{
    color: white;
    font-size: 35px;
    margin: 0 auto;
    display: none;
}

.trophys2{
    display: block;
    margin: 0 auto;
}

.accept{
    display: block;
    margin: 0 auto;
}
#loreText{
    color: white;
    font-size: 40px;
    display: none;
}
#back{
    margin: 0 auto;
}
a{
    text-decoration: none;
}